<p id="notice"><%= notice %></p>

<h1>Listing questions</h1>

<% @questions.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |question| %>
      <div class="col-md-4">
        <%= image_tag question.picture_url, width: '100%' if question.picture.present?%>
        <h4><%= link_to question.name, question %></h4>
        <%= question.description %>
      </div>
    <% end %>
  </div>
<% end %>

<br />

<%= link_to 'New Question', new_question_path %>
