
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-9">
    <%= image_tag(@question.picture_url, width: '100%') if @question.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Name: </b><%= @question.name %></p>
    <p><b>Description: </b><%= @question.description %></p>
    <p>
      <%= link_to 'Edit', edit_question_path(@question) %> |
      <%= link_to 'Destroy', @question, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', questions_path %>
    </p>
  </div>
</div>
